* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(bg2.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#my_position{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.hero {
    border: solid;
    width: 800px;
    padding: 20px 40px;
    border-radius: 12px;
    text-align: center;
    backdrop-filter: blur(5px);
    color: #fff;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.Weather-info {
    margin-top: 20px;
}

.city_date {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}

.city_name, .date {
    font-size: 24px;
    font-weight: bold;
}

.img_temp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}

.temp_info {
    font-size: 24px;
    font-weight: bold;
}

.week_weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.days {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 10px;
}